body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.full {
    width: 100%;
}

.chia12cot {
    width: 1180px;
    margin: 0 auto;
}

.img4 {
    width: 23%;
    float: left;
}

#toggle {
    display: none;
}

.m-r {
    margin-right: 1.25%;
}

.xemphim {
    width: 100px;
    background-color: chartreuse;
}

.xemphim:hover {
    background-color: rgb(251,
            255,
            0)
}

.fontlogo {
    font-size: 30pt;

}

.m-t {
    margin-top: 10px;
}



.font-menu {
    font-size: 20px;

}

.line-search {
    line-height: 50px;
}

.chenmenu {
    width: 100%;
    height: 100px;
}

/* can giua  */
.boxcenter {
    width: 100%;
    margin: 0px auto;
}

.fullsearch {
    width: 100%;
    height: 36px;
    margin: 0 auto;
}

.pading-s {
    padding-left: 20px;
}

.menu-dinh {
    width: 100%;
    height: 100px;
    position: static;
    position: fixed;
    z-index: 999;
}

.menu {
    width: 1180px;
    line-height: 50px;
    background-color: white;
    margin: 0 auto;
}

.pading-menu {
    padding-right: 20px;
}

.bgcot {
    width: 1180px;
    min-height: 50px;


}

.font-white {
    color: white;

}

.font-black {
    color: black;

}


a {

    text-decoration: none;

}

a:hover {
    color: rgb(60, 16, 180);
}


.bgblack {
    background-color: black;
    min-height: 50px;
    width: 100%;
    height: 50px;
}

.bgwhite {
    background-color: white;
}

.bgcot2 {
    width: 1180px;
    min-height: 50px;
    background-color: rgb(44, 42, 165);

}

/* menu1 */
.logo {
    width: 140px;
    float: left;
    line-height: 40px;
}



.bgsearch {
    width: 780px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.bogoc-s {
    border: double;
    border-radius: 10px;
}

.bgsign {
    width: 80px;
    line-height: 50px;
    margin-right: 20px;
    float: left;
    text-align: center;
    text-shadow: 0px 2px 5px yellow;
}

.bgsignin {
    width: 80px;
    line-height: 50px;
    float: left;
    text-align: center;
    text-shadow: 0px 2px 5px yellow;

}

.chenchu {
    position: absolute;
    bottom: 0px;
    left: 20px;
    color: white;
    z-index: 10;
}

.bg-b {
    width: 70%;
    margin: 0 auto;

}

.khung-chen-play {
    position: relative;

}


.chen-play {
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    right: calc(50% - 50px);
    bottom: calc(50% - 50px);
    position: absolute;

}

.bg-xam {
    background-color: rgb(187, 187, 187);
}

.chen {
    width: 100%;
    height: 100px;
}

img:hover {
    opacity: 0.6;
    box-sizing: border-box;
    border: 1px solid black;
}

.bgfooter {
    width: 100%;
    background-color: black;
    height: auto;
    float: left;
}

.col-footer {
    width: 280px;
    float: left;
    height: auto;
}

.m-r {
    margin-right: 20px;
}

.m-b {
    margin-bottom: 20px;
}

.m-t {
    margin-top: 20px;
}

.textcenter {
    text-align: center;
}

hr {
    display: none;
}

#toggle {
    display: none;

}

.col-footer-l {
    width: 520px;
    float: left;
    height: auto;
}

.col-footer-m {
    width: 260px;
    float: left;
    height: auto;
}

.col-footer-r {
    width: 360px;
    float: left;
    height: auto;
}


.p-b {
    padding-bottom: 50px;
}

@media screen and (max-width: 400px) {
    #toggle {
        display: block;
        line-height: 40px;
        margin: 0px;
    }


    header {
        top: 0;
    }

    hr,
    .chenicon-s,
    .m-b3 {
        display: block;
    }

    .m-b3 {
        margin-bottom: 50px;
    }


    .logo {
        padding-left: 5px;
        margin-right: 0;
    }


    .bgsearch {
        width: 150px;
        margin-right: 40px;
    }

    .menu-bar,
    .bgsign,
    .bgsignin,
    .bgwhite {
        display: none;
    }

    .img4 {
        width: 100%;
        height: 200px;
        margin-top: 5px;
    }

    .chen {
        width: 100%;
        height: 100px;
    }

    .bg-b,
    .col-left,
    .col-right,
    .col-footer-l,
    .col-footer-m,
    .col-footer-r,
    .bgsetion,
    .boncot,
    .chia12cot,
    .col4,
    .col1,
    .col2,
    .col3,
    .imgfour {
        width: 98%;
        margin: 5px 1%;
    }

    .m-b2 {
        margin-bottom: 50px;
    }

    .boxlon {
        width: 100%;
    }

    /*  left: calc(50% - 50px);
    top: calc(50% - 50px);
    right: calc(50% - 50px);
    bottom: calc(50% - 50px);
    position: absolute;
 */
    .chen-play>img {
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
        position: absolute;
    }

    .fa,
    .fas {
        color: rgb(255, 255, 255);
    }

    .col-left {
        height: 180px;
    }

    .col4 {
        height: 200px;
    }


    .chenmenu {
        height: 50px;
    }

    .col-footer-l,
    .col-footer-r,
    .col-footer-m p {
        text-align: center;
    }

    p,
    h2,
    h3,
    .font-3cot,
    .size-chu {
        font-size: 16px;
    }

    /* footer {
        font-size: 13px;

    }  */


    .fontlogo {
        font-size: 20pt;

    }

    .logo {
        width: 90px;
        line-height: 40px;
    }

}